main {
  height: 80%;
  margin-top: 64px;
}

.nav {
  position: fixed;
  width: 100%;
  top: 0px;
}

#view-area-wrapper {
  margin: 30px;
}

.view-area {
  display: none;
}

.view-area.active {
  display: block;
}

#preview-view-area {
}

#markdown-textarea {
  // position: absolute;
  width: 100%;
  height: 80%;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

input[type="checkbox"] {
  margin-right: 10px;
  margin-top: 5px;
}

.card {
  margin: 10px 0;
}

.card-header-title {
  align-items: center;
}

.card-content {
  padding-left: 0;
}

progress {
  margin: 0 10px;
}

.sub-task-wrapper progress {
}

.sub-task-wrapper {
  margin-left: 20px;
}


.card {
  width: 100%;
}

.progress {
  width: 20%;
}

.progress-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.icon {
  color: lightgray;
  margin: 0 2px;
  // padding-top: 5px;
}

.icon:hover {
  color: black;
}

.task-name {
  width: 20%;
}

.save-name {
  font-size: 1.2rem;
}

.updated-at {
  margin: 0 10px;
  font-size: 0.8rem;
  color: #a1a1a1;
}

.textarea {
  min-height: 40px;
  min-width: 70%;
  width: 70%;
  display: initial;
}

#notification {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

label.radio {
    width: 100%;
}

.save-name-content {
  margin: 10px 0;
}
